
@use "../styles/partials/global";

@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;

.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 36px 0;
    /* border: 1px solid pink;  */

    &__page-item {
        list-style-type: none;
        border: 1px solid #DFE3E8; 
        width: 32px;
        height: 32px;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;
        color: darkgray;
        margin-left: 2px;
        line-height: 2;
    }

    &__page-link {
        text-decoration: none;
        color: black;
    }

}

.active-pag {
    background-color: rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none;
}

.nav {
    width: 35px;
    border-left: 1px solid #DFE3E8;
    border-radius: 4px;
}

.nav-next {
    border-left: 1px solid #DFE3E8;
}