button:disabled {
    background-color: aquamarine;
}

/* .state-card {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    position: relative;
    transform: rotateY(var(--rotate-y, 0)) perspective(1000px);
    transform-style: preserve-3d;
    transition: 150ms;

    &__front {
        position: absolute;
        backface-visibility: hidden;
    }

    &__back {
        position: absolute;
        transform: rotateY('180');
        backface-visibility: hidden;
    }
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    position: relative;
    transform: rotateY(var(--rotate-y, 0)) perspective(1000px);
    transform-style: preserve-3d;
    transition: 150ms;
}

.card .flip {
    --rotate-y: 180deg;
} */

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.35rem;
    background-color: lightblue;
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0))
        translateY(var(--translate-y, 0));
    margin: 16px;
}

.card:hover {
    --translate-y: -2px;
    opacity: 1;
}

.card.flip {
    --rotate-y: 180deg;
}

.card .font {
    /* left: 0; */
}

.card .front,
.card .back {
    display: flex;
    position: aboslute;
    padding: 1rem;
    backface-visibility: hidden;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.card .back {
    transform: rotateY(180deg);
    display: flex;
}

.card .back p {
    width: 100%;
}


.card__description {
    width: 100%;
}