@use "../styles/partials/global";

@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;


.card__button .on {
    color: blue;

}

button.card__button.off {
    display: none; 
    color: red;
}

img.card__complete-icon.on {
    position: absolute;
      inset: auto auto 10px 170px;
      margin: 0;
      transition: inset .3s .3s ease-out;
    width: 40px;
    height: 30px;

}

.card__complete-icon.off {
display: none;
} 


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;

  }
  
  .state-card {
    width: 14rem;
    height: 9rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: $white;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.5);
    
   
    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.9;
      transition: opacity .2s ease-out;
    }
  
    h2 {
      position: absolute;
      inset: auto auto 5px 15px;
      margin: 0;
      transition: inset .3s .3s ease-out;
      font-weight: normal;
      text-transform: uppercase;
      @include subheader-mobile;
    }
    
    p {
      position: absolute;
      opacity: 0;
      max-width: 80%;
      transition: opacity .3s ease-out;
      inset: auto auto 40px 15px;
      @include body-copy-mobile;
    }
    
  
    .card__button {
      inset: auto auto 15px 15px;
      color: $white;
      background-color: rgba(0, 193, 241, 0.782);
      border: 1px solid rgba(0, 193, 241, 0.782);
      border-radius: 5px;
      position: absolute;
      opacity: 0;
      max-width: 80%;
      transition: opacity .3s ease-out;
      @include body-copy-mobile;
    }
    
    &:hover h2 {
      inset: auto auto 150px 15px;
      transition: inset .3s ease-out;
    }
    
    &:hover p {
      opacity: 1;
      transition: opacity .5s .1s ease-in;
    }

    .card__button:hover {
        opacity: 1;
      transition: opacity .5s .1s ease-in;
    }

    @media only screen and (min-width: $desktop-breakpoint) {
      .state-card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

  }
    
    img:hover {
      transition: opacity .3s ease-in;
      opacity: 1;
    }
  
  
  
  
  
