@use "../styles/partials/global";

@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;

button:disabled {
    background-color: aquamarine;
}

/* .state-card {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    position: relative;
    transform: rotateY(var(--rotate-y, 0)) perspective(1000px);
    transform-style: preserve-3d;
    transition: 150ms;

    &__front {
        position: absolute;
        backface-visibility: hidden;
    }

    &__back {
        position: absolute;
        transform: rotateY('180');
        backface-visibility: hidden;
    }
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    position: relative;
    transform: rotateY(var(--rotate-y, 0)) perspective(1000px);
    transform-style: preserve-3d;
    transition: 150ms;
}

.card .flip {
    --rotate-y: 180deg;
} */

/* .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.35rem;
    background-color: lightblue;
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0))
        translateY(var(--translate-y, 0));
    margin: 16px;
}

.card:hover {
    --translate-y: -2px;
    opacity: 1;
}

.card.flip {
    --rotate-y: 180deg;
}

.card .font {
    /* left: 0; */
/* } */

/* .card .front,
.card .back {
    display: flex;
    position: aboslute;
    padding: 1rem;
    backface-visibility: hidden;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.card .back {
    transform: rotateY(180deg);
    display: flex;
}

.card .back p {
    width: 100%;
}


.card__description {
    width: 100%;
}
 */

.card__button .on {
    color: blue;

}

button.card__button.off {
    display: none; 
    color: red;
}

img.card__complete-icon.on {
    position: absolute;
      inset: auto auto 10px 220px;
      margin: 0;
      transition: inset .3s .3s ease-out;
    width: 60px;
    height: 50px;

}

.card__complete-icon.off {
display: none;
} 


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  
  .state-card {
    width: 18rem;
    height: 12rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: $white;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.5);
   
    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.9;
      transition: opacity .2s ease-out;
    }
  
    h2 {
      position: absolute;
      inset: auto auto 5px 15px;
      margin: 0;
      transition: inset .3s .3s ease-out;
      font-weight: normal;
      text-transform: uppercase;
    }
    
    p {
      position: absolute;
      opacity: 0;
      max-width: 80%;
      transition: opacity .3s ease-out;
      inset: auto auto 40px 15px;
    }
    
    
    .card__button {
      inset: auto auto 15px 15px;
      color: $white;
      background-color: rgba(0, 0, 0, 0.3);
      border: 5px solid black;
      position: absolute;
      opacity: 0;
      max-width: 80%;
      transition: opacity .3s ease-out;
    }
    
    &:hover h2 {
      inset: auto auto 150px 15px;
      transition: inset .3s ease-out;
    }
    
    &:hover p {
      opacity: 1;
      transition: opacity .5s .1s ease-in;
    }

    .card__button:hover {
        opacity: 1;
      transition: opacity .5s .1s ease-in;
    }
    }
    
    img:hover {
      transition: opacity .3s ease-in;
      opacity: 1;
    }
  
  
  
  
  
