@use "../styles/partials/global";

@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;

.homecard {

    display: flex;
    flex-direction: column;
    border: 1px solid $black;
    border-radius: 5px;
    width: 20vw;
    height: 50vh;
    background-color: lightgray;
    justify-content: space-around;

    &__header {
        font-size: 36px;
    }

    &__subheader {
        font-size: 18px;
    }

    &__button {
            color: $black;
            background-color: $white;
            border: 1px solid $white;
            border-radius: 4px;
            text-decoration: none;
    
    }
}
    