//Normal
@font-face {
    font-family: "Inter";
    src: url("../../src/assets/font/Inter-Regular.woff2") format("woff2"),
        url("../../src/assets/font/Inter-Regular.woff") format("woff"),
        url("../../src/assets/font/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
}

//Demi
@font-face {
    font-family: "Inter";
    src: url("../../src/assets/font/Inter-SemiBold.woff2") format("woff2"),
        url("../../src/assets/font/Inter-SemiBold.woff") format("woff"),
        url("../../src/assets/font/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

//Bold
@font-face {
    font-family: "Inter";
    src: url("../../src/assets/font/Inter-Bold.woff2") format("woff2"),
        url("../../src/assets/font/Inter-Bold.woff") format("woff"),
        url("../../src/assets/font/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
}