$lapis-lazuli: #2f6690ff;
$cerulean: #3a7ca5ff;
$platinum: #d9dcd6ff;
$indigo-dye: #16425bff;
$sky-blue: #81c3d7ff;
$white: #FFFFFF;
$black: #000000;
$charcoalgrey: #36454F;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;