@use "../styles/partials/global";

@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;

.flight-search {
    display: flex;
    flex-direction: column;

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;

        &--image {
            object-fit: cover;
            width: 100%;
            height: 350px;
            top: 0;
            left: 0;
            z-index: -1;
        }

        &--header1 {
            position: absolute;
            top: 10%;
            left: 10%;
            z-index: 1;
            @include page-header-mobile;
        }

        &--header2 {
            position: absolute;
            top: 20%;
            left: 20%;
            z-index: 1;
            @include page-header-mobile;
        }

        &--form {
            position: absolute;
            top: 35%;
            left: 20%;
            z-index: 1;
            display: flex;
            flex-direction: column;
        }
    }

    &__input {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-bottom: 4px;

        &--label {
            @include labels-buttons-mobile;
        }

        &--dropdown {
            padding: 5px;
            width: 200px;
            border-radius: 20px;
        }

        &--button {
            @include labels-buttons-mobile;
            color: $white;
            background-color: $black;
            border: none;
            height: 25px;
            width: 80px;
            border-radius: 10px;
            margin-top: 4px;
        }

        &--button-container {
            display: flex;
            flex-direction: row-reverse;
        }
    }

    &__results-header {
        @include section-header-mobile;
        margin: 24px 0 0 16px;
    }

    @media only screen and (min-width: $tablet-breakpoint) {

        &__container {

            &--image {
                height: unset;
            }

            &--header1 {
                @include page-header;
                top: 15%;
            }

            &--header2 {
                @include page-header;
                top: 30%;
            }

            &--form {
                top: 55%;
                left: 20%;
                flex-direction: row;
            }
        }

        &__input {
            margin-right: 8px;

            &--label {
                @include labels-buttons;
            }

            &--dropdown {
                width: 150px;
            }

            &--button {
                @include labels-buttons;
                margin-top: 4px;
            }

            &--button-container {
                flex-direction: row;
                align-items: flex-end;
                margin-bottom: 7px;
            }
        }
    }

    @media only screen and (min-width: $desktop-breakpoint) {
        &__container {

            &--header1 {
                left: 25%;
            }

            &--header2 {
                left: 45%;
            }

            &--form {
                left: 25%;
            }
        }

        &__input {
            margin-right: 36px;
        }
    }
}


.loading {

    @media only screen and (min-width: $tablet-breakpoint) {
        margin-left: 36px;
    }

    @media only screen and (min-width: $desktop-breakpoint) {
        margin-left: 96px;
    }
}