@use "../styles/partials/global";

@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;

.flight-search {
    display: flex;
    flex-direction: column;

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;

        &--image {
            object-fit: cover;
            width: 100%;
            height: 350px;
            top: 0;
            left: 0;
            z-index: -1;
        }

        &--copy {
            display: flex;
        }

        &--header1 {
            position: absolute;
            top: 10%;
            left: 10%;
            z-index: 1;
            @include page-header-mobile;
        }

        &--header2 {
            position: absolute;
            top: 20%;
            left: 20%;
            z-index: 1;
            @include page-header-mobile;
        }

        &--form {
            position: absolute;
            top: 35%;
            left: 20%;
            z-index: 1;
            display: flex;
            flex-direction: column;
        }
    }

    &__input {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-bottom: 4px;

        &--label {
            @include labels-buttons-mobile;
        }

        &--dropdown {
            padding: 5px;
            width: 200px;
            border-radius: 5px;
        }

        &--button {
            @include labels-buttons-mobile;
            color: $white;
            background-color: $black;
            border: none;
            height: 25px;
            width: 80px;
            border-radius: 5px;
            margin-top: 4px;
        }

        &--button-container {
            display: flex;
            flex-direction: row-reverse;
        }
    }

    &__results-header {
        @include section-header-mobile;
        margin: 24px 0 0 16px;
    }

    @media only screen and (min-width: $tablet-breakpoint) {

        &__container {

            &--header1 {
                @include page-header;
                top: 35%;
                left: 25%;
            }

            &--header2 {
                @include page-header;
                top: 50%;
                left: 25%;
            }

            &--form {
                top: 25%;
                left: 55%;
            }
        }

        &__input {
            margin-right: 8px;

            &--label {
                @include labels-buttons;
            }

            &--dropdown {
                width: 150px;
            }

            &--button {
                @include labels-buttons;
                margin-top: 4px;
            }

            &--button-container {
                flex-direction: row;
                align-items: flex-end;
                margin-bottom: 7px;
            }
        }
    }

    @media only screen and (min-width: $desktop-breakpoint) {
        &__container {

            &--header1 {

            }

            &--header2 {

            }

            &--form {

            }
        }

        &__input {
            margin-right: 36px;
        }
    }
}


.loading {

    @media only screen and (min-width: $tablet-breakpoint) {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        margin: 96px;
    }

    @media only screen and (min-width: $desktop-breakpoint) {}
}


.table-component {

    @media only screen and (min-width: $tablet-breakpoint) {
        border: 1px solid #E9E9E7;
        border-radius: 4px;
        fill: #FFFFFF;
        padding: 16px;
        margin: 36px;
        box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2)
    }

    @media only screen and (min-width: $desktop-breakpoint) {
        margin: 36px 96px;

    }
}

.table-off {
    display: none;
}

.table-on {}

.table__header {
    @include section-header-mobile;

    @media only screen and (min-width: $tablet-breakpoint) {
        @include section-header;
        border-top: none;
        margin-left: 36px;
    }

    @media only screen and (min-width: $desktop-breakpoint) {
        margin: 36px 96px 0 96px;
    }

}