@use "../styles/partials/global";

@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;

.navbar {
    display: flex;
    flex-direction: column;
    background-color: $black;
    justify-content: space-between;

    &__logo-container {
        display: flex;
        justify-content: center;
        height: 45px;
    }

    &__logo {
        height: 50px;
        width: 60px;
        transform: scale(1.5);
    }

    &__links {
        @include body-copy-mobile;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 50px;
    }

    &__linkLogin {
        @include labels-buttons-mobile;
        color: $white;
        text-decoration: none;
    }

    &__linkSignup {
        @include labels-buttons-mobile;
        color: $black;
        background-color: $white;
        border: 1px solid $white;
        border-radius: 4px;
        text-decoration: none;
        margin-left: 16px;
        padding: 3px;
    }

    &__link {
        color: $white;
        text-decoration: none;
        margin-left: 16px;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        display: flex;
        flex-direction: row;
        margin: none;
        background-color: $black;
        justify-content: space-between;

        &__logo-container {
            padding-left: 96px;
        }

        &__logo {
            height: 50px;
            width: 60px;
        }

        &__links {
            @include labels-buttons;
            font-weight: 400;
            justify-content: flex-end;
            padding-right: 96px;
        }

        &__linkLogin {
            color: $white;
            text-decoration: none;
        }

        &__linkSignup {
            color: $black;
            background-color: $white;
            border: 1px solid $white;
            border-radius: 4px;
            text-decoration: none;
            margin-left: 16px;
            padding: 3px 5px;
        }


    }

    @media only screen and (min-width: $desktop-breakpoint) {

        &__logo-container {
            padding-left: 96px;
        }

        &__links {
            padding-right: 96px;
        }

        &__linkLogin {
            color: $white;
            text-decoration: none;
        }

        &__linkSignup {
            color: $black;
            background-color: $white;
            border: 1px solid $white;
            border-radius: 4px;
            text-decoration: none;
            margin-left: 16px;
            padding: 3px 5px;
        }

        &__link {
            color: $white;
            text-decoration: none;
            margin-left: 16px;
        }
    }
}

.active {
    background-color: $black;
    color: $white;
    text-decoration: underline;
}