@use "../styles/partials/global";

@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;



.signup-banner {

    @media only screen and (min-width: $tablet-breakpoint) {

        
    }

    @media only screen and (min-width: $desktop-breakpoint) {
    background-color: $black;
    margin-bottom: 36px;
    height: 300px;
    display: flex;
    justify-content: center;
    position: relative;


    &__item-container {
        background-color: $white;
        width: 50%;
        border: 1px solid $white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        align-items: center;
        margin: 61px 0;
        padding: 30px 100px;
    }

    &__header {
        color: $black;


    }

    &__button {
        color: $black;
        background-color: $white;
        border: 1px solid $black;
        border-radius: 4px;
        text-decoration: none;
        margin: 16px;
        padding: 15px;
    }
    }
}
