@use "../styles/partials/global";

@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;


.state-cards {
   display: flex;
    justify-content: center;
    flex-direction: column;
    


    @media only screen and (min-width: $tablet-breakpoint) {
        padding: 18px 24px 24px 24px;
        flex-wrap: wrap;
    }

    @media only screen and (min-width: $desktop-breakpoint) {
       
    }
}