@use "../styles/partials/global";

@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;

.banner-container {
    position: relative;

    &__video {
        object-fit: cover;
        width: 100vw;
        height: 30vh;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__header {
        position: absolute;
        top: 45%;
        left: 49%;
        transform: translate(-50%, -50%);
        z-index: 1;
        text-align: center;
    }

    &__copy {
        @include video-overlay-mobile;
        color: rgba(255, 255, 255, 0.8);

    }

    &__button-container {
        position: absolute;
        top: 105%;
        left: 44%;
    }

    &__button {
        color: $white;
        border: 1px solid $white;
        border-radius: 4px;
        text-decoration: none;
        margin: 16px;
        padding: 8px 16px;
        @include labels-buttons-mobile;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        &__video {
            height: 70vh;
        }

        &__header {
            width: 60%;
        }
        &__copy {
        @include video-overlay;
        margin-top: 16px;
        }

        &__button {
            @include labels-buttons;
            width: fit-content;
        }
    }

    @media only screen and (min-width: $desktop-breakpoint) {
        &__video {
            height: 70vh;
        }

    
    }

}


.banner-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.3);

    @media only screen and (min-width: $tablet-breakpoint) {
        height: 70vh;
    }

    @media only screen and (min-width: $desktop-breakpoint) {}
}