@use "../styles/partials/global";

@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;

.banner-container {
    position: relative;

&__video {
    object-fit: cover;
    width: 100vw;
    height: 70vh;
    top: 0;
    left: 0;
    z-index: -1;
}

    &__header {
        position: absolute;
        top: 50%; /* Position the header at the vertical center */
        left: 50%; /* Position the header at the horizontal center */
        transform: translate(-50%, -50%); /* Center the header */
        z-index: 1; /* Ensure the header appears above the video */
        color: white; /* Optional: Set text color */
        text-align: center;
        font-size: 60px;
    }

}