@use "../styles/partials/global";

@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;

.home {
    display: flex;
    flex-direction: column;

    &__top {
        display: flex;
        flex-direction: column;
    }

    &__welcome {
        @include page-header-mobile;
        margin: 24px 16px 0 16px;
    }

    &__signout {
        margin-left: 16px;
    }

    &__features {
        display: flex;
        flex-direction: column;
        margin: 36px 24px;

        &--challenge-header {
            @include section-header-mobile;
        }

        &--cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 16px;
        }

        &--flights {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 24px;
            align-items: center;
        
        }

        &--image {
            width: 200px;
            height: 200px;
            margin-bottom: 16px;

            &.desktop {
                display: none;
            }
        }
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        &__welcome {
            @include page-header;
            margin: 24px 16px 0 36px;
        }

        &__features {
            margin: 36px 36px;

            &--challenge-header {
                @include section-header;
                margin: 24px 16px 16px 0;
            }

            &--cards {
                flex-direction: row;
                justify-content: space-around;
            }

        &--flights {
            flex-direction: row;
            justify-content: center;
            margin: 0 24px;
            align-items: center;
        
        }
        &--image {
            width: 300px;
            height: 300px;
            margin-left: 24px;

            &.desktop {
                display: unset;
            }

            &.mobile {
                display: none;
            }
        }
    }

    &__destinations {
        margin: 24px 0;
    }
}
    @media only screen and (min-width: $desktop-breakpoint) {

        &__welcome {
            @include page-header;
            margin: 24px 96px 16px 96px;
        }
        &__features {
            margin: 36px 36px;

            &--challenge-header {
                margin: 0 60px;
            }

            &--cards {
                flex-direction: row;
                justify-content: space-evenly;
                margin-top: 36px;
            }

        &--flights {
            justify-content: space-evenly;
        
        }
    }
    &__destinations {
    }
}
}
