@use "../styles/partials/global";

@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;

    &__card {
        display: flex;
        flex-direction: column;
        width: 13rem;
        height: 16.5rem;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        color: $white;
        box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    }

    &__image-container {}

    &__image {
        position: absolute;
        object-fit: cover;
        /* width: 100%; */
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.9;
        transition: opacity .2s ease-out;
    }

    &__header {
        @include subheader-mobile;
        position: absolute;
        inset: auto auto 10px 15px;
        margin: 0;
        transition: inset .3s .3s ease-out;
        text-transform: uppercase;
    }

    &:hover {
        h2 {
        inset: auto auto 100px 15px;
        transition: inset .3s ease-out;
    }}

    &__description {
        @include body-copy-mobile;
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity .3s ease-out;
        inset: auto auto 10px 15px;
        line-height: none;
        
    }

    &__flex {
        display: flex;

    }

    &__buttons {
        cursor: pointer;
        margin-right: 3px;
    }

}

/* &:hover {
    h2 {
    inset: auto auto 220px 500px;
    transition: inset .5s ease-out;
}} */

.carousel__description:hover {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
}

img:hover {
    transition: opacity .3s ease-in;
    opacity: 1;
}


.carousel-header {
    @include section-header-mobile;
    padding-left: 16px;
}

/* @media only screen and (min-width: $tablet-breakpoint) {}

    @media only screen and (min-width: $desktop-breakpoint) {
        display: flex;
        flex-direction: row;
        justify-content: center;

    } */